name: CI and Deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm i

      - name: Lint
        run: npm run lint

      - name: Run test with secret env vars
        env:
          MONGODB_URI_TEST: ${{ secrets.MONGODB_URI_TEST }}
        run: |
          npm test

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Run Trivy vulnerability scanner in fs mode
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: 'fs'
          scan-ref: '.'
          trivy-config: trivy.yaml

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # - name: Snyk test (optional)
      #   if: secrets.SNYK_TOKEN != ''
      #   uses: snyk/actions@master
      #   with:
      #     args: test
      #   env:
      #     SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      # - name: Deploy to Render
      #   if: github.ref == 'refs/heads/main'
      #   uses: render-examples/deploy@v1
      #   with:
      #     apiKey: ${{ secrets.RENDER_API_KEY }}
      #     serviceId: ${{ secrets.RENDER_SERVICE_ID }}
